/* navbar.module.css */
.navbar {
  background-color: #f45c5c;
  overflow: hidden;
}

.navbar a,
.navbar button {
  float: right;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.navbar a:hover,
.navbar button:hover {
  background-color: #ffffff;
  color: black;
}
